html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* color will determine text color */
    /* color: black; */
}

#main {
    /* Makes sure the screen doesn't move */
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    /* Allows components to move as needed */
    display: flex;
}