/computer_building_app/frontend/node_modules/*
/computer_building_app/frontend/__pycache__/*
/computer_building_app/api/__pycache__/*
/computer_building_app/api/parts_generator/__pycache__/*
/computer_building_app/api/parts_generator/evolutionary_algorithm/__pycache__/*
/computer_building_app/api/parts_generator/Data_Scraper/__pycache__/*
/computer_building_app/computer_building_app/__pycache__/*
node_modules
