/computer_building_app/frontend/node_modules/*
/computer_building_app/frontend/__pycache__/*
/backend/Data_Scraper/__pycache__/*
/backend/evolutionary_algorithm/__pycache__/*
/computer_building_app/api/__pycache__/*
/computer_building_app/computer_building_app/__pycache__/*
